<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CuoiKy.Properties.Settings.CoupleTX_SQLConnectionString"
            connectionString="Data Source=LAPTOP-CM8P1CPP\SQLEXPRESS;Initial Catalog=CoupleTX_SQL;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>